{% extends 'base.html' %}
{% block title %} Add New Blog {% endblock title %}
{% block content %}
<div class="content">
<div class="card card-user">
    {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  
                    <span> <b>{{ error|escape }}</b></span>
                  </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span> <b>{{ error|escape }}</b></span>
              </div>
            {% endfor %}
        {% elif form.is_valid %}
              
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span> <b>Category Create ...! </b></span>
          </div>
         
        {% endif %}
    <div class="card-header">
      <h5 class="card-title">Create Category</h5>
    </div>
    <div class="card-body">
      <form action= "{% url 'createcategory' %}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
            <label class="text-dark">Category Name: </label>
            {{form.category}}
          </div>
        <button type="submit" class="btn btn-primary">Save Category</button>
      </form>
    </div>
  </div>
</div>


{% endblock content %}