{% extends 'base.html' %}
{% block title %} Delete Blog  {% endblock title %}

{% block activeblog %}<li class="active">{% endblock activeblog %}
{% block content %}
<div class="content">
<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Are You Sure?</h5>
        <p class="card-text">Please Comfirm, Do you want to delete <strong>"{{blog}}"</strong> blog? </p>
        <form action="{% url 'deleteblog' blog.slug %}" method="POST">
                 
            {% csrf_token %}
            
                <a type="button" href="{% url 'bloglist' %}" class="btn btn-secondary" >Cancel</a>
                <button  type="submit" class="btn btn-danger"> Delete </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}