<div class="pagination">
    <ul class="pagination">
    <!-- <span class="step-links"> -->
        {% if Blogs.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link"href="?page={{ Blogs.previous_page_number }}">previous</a></li>
        {% endif %}

        <span class="current">
          <li class="page-item page-link"> Page {{ Blogs.number }} of {{ Blogs.paginator.num_pages }}.</li>
        </span>

        {% if Blogs.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ Blogs.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ Blogs.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    <!-- </span> -->
  </ul>
</div>